<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="no-item" *ngIf="items.length === 0" text-center margin-vertical>No item available on the list</h3>
  <ion-content class="outer-content">
    <ion-list id="groceryList">
      <ion-item-sliding *ngFor="let item of items; let i = index">
        <ion-item>
          <h2>{{item.name}}</h2>
          <p>{{item.quantity}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" icon-start (click)="handleEditItem(item, i)">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button color="light" icon-start (click)="handleShareItem(item, i)">
            <ion-icon name="share"></ion-icon>
            Share
          </button>
          <button ion-button color="secondary" icon-start (click)="handleRemoveItem(item, i)">
            <ion-icon name="trash"></ion-icon>
            Done
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab bottom right>
      <button ion-fab mini (click)="handleAddItem()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-content>
</ion-content>
